:root {
	--cell-size: 50px;
}

.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	position: absolute;
	transition: background-color 1s;
	background-color: black;
}

.red {
	background-color: red;
}

.white {
	background-color: white;
}
